body {
  color: #000000;
  background: #444;
  font: 1.1rem "Inter", sans-serif;
  line-height: 1.2;
  margin: 30px 0;
}

#resume {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 60px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 4px #aaaaaa;
  -webkit-box-shadow: 2px 2px 4px #aaaaaa;
}

.icon {
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  margin-right: 0.125em;
  vertical-align: middle;
}

.purple {
  color: #aa0799;
}

.separator {
  color: #aa0799;
}

.page-break {
  page-break-after: always;
}

a,
a:link,
a:visited,
a:hover {
  color: #70356a;
  text-decoration: underline;
  text-decoration-color: #70356a99;
}

a:hover {
  text-decoration-color: #70356a;
}

h1 {
  text-align: center;
  font-size: 2.75rem;
  margin: 0;
  padding: 0;
  color: #70356a;
}

h2 {
  border-bottom: 2px solid #aa0799;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1.5rem 0 0 0;
  padding: 0;
  color: #70356a;
  letter-spacing: 0.125rem;
  text-align: left;
}

h3 {
  font-size: 1rem;
  margin: 1.25rem 0 0.125rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

h3 + h3 {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: #664e64;
  display: inline-block;
}

h3 span + span {
  font-weight: normal;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul {
  padding: 0;
  padding-bottom: 0.25rem;
  margin: 0 1.5rem 0.5rem;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header > * {
  margin: 0.25rem 1rem;
}

#header > div * {
  margin: 0.125rem;
}

/* ul immediately after #contact = contact list */
#contact {
  margin: 0.25rem 0;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact div {
  margin: 0.125rem 1rem;
}

#summary {
  text-align: center;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Print styles */
@media print {
  body {
    font-size: 10.5pt;
    margin: 0;
    padding: 0;
    background: none;
  }

  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  /* Do not underline abbr tags in PDF */
  abbr {
    text-decoration: none;
    font-variant: none;
  }
}

/* Print styles */
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.4in 0.75in;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background: white;
  }
  #resume {
    margin: 0;
    padding: 1rem;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
