:root {
  --color-accent: hsl(306, 100%, 33%);
  --color-text: hsl(306, 33%, 33%);
  --color-subtext: hsl(306, 15%, 33%);
  --color-link: hsl(306, 50%, 24%);
  --color-link-underline: hsla(306, 50%, 24%, 0.5);
  --color-border: hsla(306, 50%, 24%, 0.25);
  --color-aside-bg: hsl(306, 39%, 95%);
}

body {
  color: #000000;
  background: #444;
  font: 1.1rem "Inter", sans-serif;
  line-height: 1.2;
  margin: 30px 0;
}

#resume {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 60px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 4px #aaaaaa;
  -webkit-box-shadow: 2px 2px 4px #aaaaaa;
}

.icon {
  display: inline-block;
  padding-bottom: 0.015em;
  /* Padding instead of margin prevents icon from clipping in PDF */
  padding-right: 0.125em;
  height: 1.125em;
  vertical-align: middle;
}

.accent {
  color: var(--color-accent);
}

.separator {
  color: var(--color-accent);
}

/* Style for the skill boxes under each experience block */
.skills {
  background-color: var(--color-aside-bg);
  border-radius: 5px;
  padding: 0.125rem 0.125rem;
}

.skills table {
  border-spacing: 3px;
}

.skills th {
  color: var(--color-text);
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-weight: 200;
  font-size: 0.7rem;
  letter-spacing: 0.03rem;
  padding: 0 0.3rem 0 0.3rem;
  text-transform: uppercase;
}

.skills div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills th svg {
  margin-right: 0.25em;
  font-size: 8pt;
  /* width: calc(640px / 54);
  height: calc(512px / 54); */
}

.skills td {
  padding-left: 4px;
}

@media print {
  table td {
    font-size: 10.5pt;
  }

  .skills th svg {
  }

  .skills th span {
    font-size: 7pt;
  }
}

.page-break {
  page-break-after: always;
}

a,
a:link,
a:visited,
a:hover {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--color-link-underline);
}

a:hover {
  text-decoration-color: var(--color-text);
}

h1 {
  text-align: center;
  font-size: 2.75rem;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h2 {
  border-bottom: 2px solid var(--color-accent);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1.5rem 0 1rem 0;
  padding: 0;
  color: var(--color-text);
  letter-spacing: 0.2rem;
  text-align: left;
}

h3 {
  font-size: 1rem;
  margin: 1.25rem 0 0.125rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

h3 + h3 {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: var(--color-subtext);
  display: inline-block;
}

h3 span + span {
  font-weight: normal;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul {
  padding: 0;
  padding-bottom: 0rem;
  margin: 0 1.5rem 0.7rem;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header > * {
  margin: 0.25rem 1rem;
}

#header > div div {
  margin: 0.125rem;
}

/* ul immediately after #contact = contact list */
#contact {
  margin: 0.25rem 0;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact div {
  margin: 0.125rem 1rem;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Print styles */
@media print {
  body {
    font-size: 10.5pt;
    margin: 0;
    padding: 0;
    background: none;
  }

  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  /* Do not underline abbr tags in PDF */
  abbr {
    text-decoration: none;
    font-variant: none;
  }
}

@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.35in 0.75in;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background: #fff;
  }
  #resume {
    margin: 0;
    padding: 1rem;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #222;
  }

  #resume {
    background: #111;
    border: 1px solid #000;
    box-shadow: 2px 2px 4px #000;
    -webkit-box-shadow: 2px 2px 4px #000;
  }

  .accent {
    color: #f572f5;
  }

  .separator {
    color: #f572f5;
  }

  a,
  a:link,
  a:visited,
  a:hover {
    color: #e8cbe8;
    text-decoration-color: #e8cbe899;
  }

  a:hover {
    text-decoration-color: #e8cbe8;
  }

  h1 {
    color: #e391e3;
  }

  h2 {
    border-bottom: 2px solid #f572f5;
    color: #e391e3;
  }

  h3 + h3 {
    color: #e6d5e6;
  }

  .skills {
    background-color: hsl(307, 39%, 13%);
  }
}
